.conteiner__footer {
    &--first {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);;


        .logo {
            width: 400px;
            height: 74px;
        }
        .pages {
            width: 400px;
            height: 19px;
            
        }
    }
    &--second {
        height: 119px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
            color: #FF7967;
        }
    }
}