<app-container backgroundcolor="{{ corBackground }}">
    <section class="inbox">
        <img src="../../assets/img/salad-indox1.png" alt="">
        <div class="container__inbox">
            <p class="text-section">Deliciousness to your inbox</p>
            <p class="text-min text-inbox-center">Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqut enim ad minim </p>
            <div class="container__inbox-submit">
                <div>
                    <app-input [dados]="inputinbox"></app-input>
                </div>
                <div class="button">
                    <app-button [button]="buttoninbox"></app-button>
                </div>
            </div>
        </div>
        <img class="last" src="../../assets/img/salad-inbox2.png" alt="">
    </section>
    
</app-container>
