<div class="conteiner__timegroup">
    <div class="conteiner__timegroup-first"  [ngClass]="{'border': datatime.hasBorder}">
        <app-icon srcicon="../../assets/img/Timer.svg"></app-icon>
        <span class="text-decription-recipes-info">{{ datatime.time }}</span>
    </div>
    <div>
        <app-icon srcicon="../../assets/img/ForkKnife.svg"  [ngClass]="{'border': datatime.hasBorder}"></app-icon>
        <span class="text-decription-recipes-info">{{ datatime.group }}</span>
    </div>
</div>
