.pequeno {
    width: 24px;
    height: 24px;
}

.grande {
    width: 120px;
    height: 120px;
}

.medium {
    width: 48px;
    height: 48px;
}

.mini {
    width: 7.65px;
    height: 7.58px;
}

.rectangle{
    width: 10.83px;
    height: 2.32px;
}

.userIcon{
    width: 13.15px;
    height: 13.15px;
}