.container__lernmore {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;

    div {
        width: 526px;
        height: 356px;
        margin-right: 103px;
        p{
            margin-top: 24px;
            margin-bottom: 72px;
        }
    }
}