.conteiner__recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-left: 80px;
    margin-right: 80px;

    &-item {
        margin-right: 40px;
        margin: 0 40px 40px 0;
    }
}