.conteiner__recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;

    &-item {
        margin-right: 40px;
        margin: 0 40px 40px 0;
    }

    &--header {
        display: flex;
        justify-content: space-between;
        margin: 160px 80px 80px 80px;

        :first-child {
            width: 507px;
            margin-right: 153px;
        }

        :last-child {
            width: 620px;
        }
    }
}