<div class="container__post">
    <div class="container__post-header">
        <div class="user">
            <app-icon class="icon-user" type="pequeno" srcicon="{{ datapost.userIcon }}"></app-icon>
            <div>
                <span class="text-sfProText sfProText">{{ datapost.nameUser}}</span>
                <app-icon *ngIf="datapost.isVerificed" type="mini" srcicon="../../../assets/img/OfficialIcon.svg">
                </app-icon>
                <p class="subtext-sfProText sfProText">{{datapost.localization}}</p>
            </div>
        </div>
        <div>
            <app-icon class="icon-more" type="rectangle" srcicon="../../../assets/img/MoreIcon.svg"></app-icon>
        </div>
    </div>

    <div class="container__post-image" [ngStyle]="{'background-image': image}">
        <div>
            {{datapost.numberImage}}
        </div>
    </div>

    <div class="container__post-liked">
        <div class="react">
            <app-icon type="pequeno" srcicon="../../../assets/img/Like.svg"> </app-icon>
            <app-icon type="pequeno" srcicon="../../../assets/img/Comment.svg"> </app-icon>
            <app-icon type="pequeno" srcicon="../../../assets/img/Messanger.svg"> </app-icon>
        </div>
        <div class="pagination">
            <app-icon type="pequeno" srcicon="../../../assets/img/Pagination.svg"> </app-icon>
            <app-icon type="pequeno" srcicon="../../../assets/img/Save.svg"> </app-icon>
        </div>
    </div>

    <div class="container__post-discription">
        <div>
            <app-icon type="userIcon" srcicon="../../../assets/img/userLiked.svg"></app-icon>
            <p class="text-sfProText">Liked by <span class="bold">{{datapost.lastUserLiked}}</span> and <span
                    class="bold">{{datapost.numberLiked}}</span> </p>
        </div>
        <p class="text-sfProText">
            <span class="bold">{{ datapost.nameUser}}.</span>
            {{datapost.subtitleImage}}
        </p>
        <p class="subtext-sfProText grey">
            {{datapost.dateImage}}

        </p>
    </div>


</div>