<app-header></app-header>

<!-- categorias -->
<section class="conteiner__categories">
    <div class="conteiner__categories-header">
        <h2 class="text-section">Categories</h2>
        <app-button [button]="dataButton"></app-button>
    </div>
    <div class="conteiner__categories-card">
        <app-card *ngFor="let item of cards" [card]="item"></app-card>
    </div>
</section>

<!-- Card Simple tasty -->

<section>
    <div class="conteiner__simple-header">
        <h2 class="text-section">Simple and tasty recipes</h2>
        <p class="text-min">Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqut enim ad minim </p>
    </div>
</section>