.input__container {
 margin-bottom: 24px;
    label {
        display: flex;
        flex-direction: column;

        input {

            margin-top: 12px;
            border-radius: 16px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            padding: 18px 0 18px 20px;
        }
    }

}