<app-header></app-header>
<h1 class="text-section">
    Contact us
</h1>
<section class="contact__conteiner">
    <div class="contact__conteiner--image">
        <app-container>
            <img src="../../assets/img/contact-cozinheiro.png" alt="">
        </app-container>

    </div>
    <div class="contact__conteiner--data">
        <app-input class="filho" [dados]="item" *ngFor="let item of dadosInput"></app-input>
        <div>
            <app-button [button]="dadosButton"></app-button>
        </div>
    </div>
</section>

<section class="card-inbox">
    <app-card-inbox [inputinbox]="dataInputInbox" [buttoninbox]="dataButtonInbox"></app-card-inbox>
</section>

<section>
    <app-recipes [recipes]="dataRecipes" color="none"></app-recipes>
</section>

<section class="footer">
    <app-footer></app-footer>
</section>