.conteiner__categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 80px;

    &-header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 80px;

    }

    &-card {

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        :nth-child(n) {
            margin-right: 40px;
        }

        :last-child {
            margin-right: 0;
        }

    }

}

.conteiner__recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-left: 80px;
    margin-right: 80px;

    :nth-child(5) {
        grid-column: 2;
        display: contents;

        :nth-of-type(1) {
            margin-right: 40px;
        }
    }

    &-item {
        margin-right: 40px;
        margin: 0 40px 40px 0;
    }
}